.c1{
    text-align:center;
    background-color:khaki;
    background-color:paleturquoise;
    }
    
.add{
    padding-left: 60%;
        padding-right:0%;
        padding-top: 10%;
        
}
.c2{
    text-decoration:none;
}
table,th,td{
    border:1px solid black;
    border-collapse:collapse;
    

}
.image{
    width:28%;
    border:solid 5px lightseagreen
    
}
th,td{
    padding:15px;
    text-align:left;
}
th{
    background-color:paleturquoise;
    color:black;
}
tr:nth-child(even)
{
    background-color:whitesmoke;
}
tr:nth-child(odd)
{
    background-color:#fff;
}